<div class="row">
  <div class="container">
    <div class="logo">
      <img src="../../../assets/imagen/APLogo-20-20.png " alt="" id="logoAP">

    </div>
    <div class="redes">
        <a href="linkedin.com/in/carla-alexandra-pacheco"><img src="../../../assets/imagen/linkedin.png " id="linkedin"></a>
        <a href="https://github.com/Carlap09"><img src="../../../assets/imagen/Githup.png " id="githup"></a>
        <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">Ingreso</button>
        <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">Cerrar Sesion</button>


    </div>


  </div>

</div>





